<link rel="stylesheet" type "text/css" href="css/style.css">

<!doctype HTML5>

<html lang="en">

<head>
</head>

<div id="theNavBar">
	<ul id="options">
		<ul id="home"><a class="one" href="/">Tic-Tac-Toe</a></ul>
		<div id="optionsdiv">
			<ul id="options">
				<li><a class="links" href="#">Social Media Links</a>
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/minedmindsfoundation/" target = "_blank">Facebook</a></li>
						<li><a class="twitter" href= "https://twitter.com/MinedMinds" target = "_blank">Twitter</a></li>
					</ul>
				</li>
				<li><a class="about" href="http://www.minedminds.org" target = "_blank">About Mined Minds</a></li>
				<li><a class="contact" href="http://www.minedminds.org/contact" target = "_blank">Contact Mined Minds</a></li>
			</ul>
		</div>
	</ul>
</div>
<center>
<body>
	<div id="welcome">
		<h3>Welcome to tic-tac-toe!</h3>
	</div>

	<form method="post" action="/index">
		<div id="radio_buttons_player_1">
			<h2>Choose player 1 (X):</h2>
			<input type="radio" name="rad_player_1" value="1"/> Human </br>
			<input type="radio" name="rad_player_1" value="2"/> Sequential AI </br>
			<input type="radio" name="rad_player_1" value="3"/> Random AI </br>
			<input type="radio" name="rad_player_1" value="4"/> Unbeatable AI </br>
			If player 1 is a human, enter a username. Otherwise, enter "computer."
			<input type="text" name="username1" placeholder="Enter Player 1 name" required>
		</div>

		<div id="radio_buttons_player_2">
			<h2>Choose player 2 (O):</h2>
			<input type="radio" name="rad_player_2" value="1"/> Human </br>
			<input type="radio" name="rad_player_2" value="2"/> Sequential AI </br>
			<input type="radio" name="rad_player_2" value="3"/> Random AI </br>
			<input type="radio" name="rad_player_2" value="4"/> Unbeatable AI </br>
			If player 2 is a human, enter a username. Otherwise, enter "computer."
			<input type="text" name="username2" placeholder="Enter Player 2 name" required>
		</div>

		<input type="submit">
	</form>

</body>
</center>

</html>